<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 uap5 com rescap">

  <Identity
    Name="493F5EED-D9E4-420A-AA48-DFE3F51E895A"
    Publisher="CN=AppPublisher"
    Version="1.0.0.8" />

  <mp:PhoneIdentity PhoneProductId="493F5EED-D9E4-420A-AA48-DFE3F51E895A" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ms-resource:AppName</DisplayName>
    <PublisherDisplayName>AppPublisher</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US"/>
    <Resource Language="zh-CN"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer
              Executable="DateCountdown.WidgetProvider\DateCountdown.WidgetProvider.exe"
              DisplayName="Date Countdown Widget Provider">
              <com:Class
                Id="9805b76e-c976-4884-b984-f57bb5a594b7"
                DisplayName="Date Countdown Widget Provider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="com.microsoft.windows.widgets"
            DisplayName="ms-resource:AppName"
            Id="DateCountdownWidgetProvider"
            PublicFolder="Assets">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\StoreLogo.png" />
                </ProviderIcons>
                <Activation>
                  <CreateInstance ClassId="9805b76e-c976-4884-b984-f57bb5a594b7" />
                </Activation>
                <TrustedPackageFamilyNames>
                  <TrustedPackageFamilyName>Microsoft.MicrosoftEdge.Stable_8wekyb3d8bbwe</TrustedPackageFamilyName>
                </TrustedPackageFamilyNames>
                <Definitions>
                  <Definition
                    Id="DateCountdown_Widget"
                    DisplayName="ms-resource:AppName"
                    Description="ms-resource:WidgetDescription"
                    AllowMultiple="false">
                    <Capabilities>
                      <Capability>
                        <Size Name="small" />
                      </Capability>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Assets\Square44x44Logo.scale-200.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Assets\WidgetPreview.scale-200.png" DisplayAltText="ms-resource:WidgetPreviewAltText" />
                      </Screenshots>
                      <DarkMode />
                      <LightMode />
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask
            TaskId="DateCountdownStartupId"
            Enabled="false"
            DisplayName="ms-resource:AppName" />
        </uap5:Extension>
      </Extensions>
      <uap:VisualElements
        DisplayName="ms-resource:AppName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square71x71Logo="Assets\SmallTile.png"
          Square310x310Logo="Assets\LargeTile.png"
          ShortName="ms-resource:AppTile">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
